@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@100&family=Roboto&display=swap');
body{
  background-color: #2A3166;
  color: #CAE7DF;
}
.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-right:80px;
}

.App-header {
  background-color: #2A3170;
  min-height: 50%;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: #1BA098;
  font-size:32px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  
}
.name-to-home{
  font-size: calc(20px + 2vmin);
  color: #1BA098;
  text-decoration: none;
}

.link{
  color: #1BA098;
  text-decoration: none;
  font-size:32px;
  font-family: 'Montserrat', sans-serif;
}
.link:hover {
  color: #373A36;
}


li{
  list-style:square;
  display: inline-block;
  margin-left: 15px;
  color: #1BA098;
}

.Footer{
  background-color: #051622;
  color: #1BA098;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-height:20%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.footer-right-side{
  margin-left: 75%;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #FF6A3D;
}
a{
  color: #050505;
  text-decoration: none;
  padding: 5px;
  font-size: 12px;
}
a:hover{
  color: white;
}
.copyright{
  text-align: center;
  padding-top: 2%;
}
.About{
  display: flex;
  flex-direction: column;
}
.Contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Projects{
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  
}
.finish-projects{
  margin-left: 50%;
  max-width: 50%;
}
.open-projects{
  margin-left: 10%;
  max-width: 50%;
}
.Home{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
}
.name-surname
{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Anton', sans-serif;
  font-size: 48px;
}
.about-me{
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  margin-left: 10%;
  width: 40%;
}
.edjucation{
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  margin-left: 50%;
  width: 40%;
}
.languages{
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  margin-left: 10%;
  width: 40%;
}

input[type=text]:focus {
  border: 3px solid #555;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
textarea{
  height: 200px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  resize: vertical;
}
textarea:focus {
  border: 3px solid #555;
}

.button {
  background-color: #1BA098;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover{
  background-color:#16857d ;
}
.social{
  height: 10%;
  width: 5%;
  
  display: flex;
  display: inline-block;
  margin: 5px;
}

